body, html {
  height: 100%;

  margin: 0;
}

.bg {
  /* The image used */
  background-image: url(./sash-banner.jpg);
  height: 100%;
  width: flex;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
}